.titleBar{
    background-color: #272822;
    color:#CCCCCC;
    display: flex;
    justify-content: center;
}

.titleBar h1{
    margin:0px;
    padding: 0px;
    text-align: center;
    padding:3px;
    margin-right:10px;

}

.ncninja{
height:50px;
cursor: pointer;
}

.ncninja:hover{
    height:50px;
    background-color: #CCCCCC;
    transition:0.2s;
    border-radius:50%;
    }