.voteControl{
    display:flex;

}

.voteImg{
    width: 40px;
    height:40px;
    padding:5px 10px;
    border-width:0px;
    background-color: transparent;
    border-radius:50%;
    cursor:pointer;
}

.voteImg:hover{
background-color: #E8E8E8;
transition:0.2s;
}

.articleInteractive p {
    text-align: justify;
    margin:5px;
  }


button:focus{
    outline: none;
}

.disabledButton{
    opacity: 0.3;
    pointer-events: none;
}